label{
    float:left;
    clear:left;
    width:100px;
    margin: 1px;
}

input{
    margin: 1px;
    width: 250px;
    border-radius: 5px;
}

.newSongButton {
    margin-top:10px;
    margin-left: 270px;
    color: white;
    background-color: rgb(15, 160, 58);
    padding: 5px 15px;
    border-radius: 7px;
}

.newSongButton:hover{
    background-color: rgb(8, 78, 40);
}