label{
 margin-right: 0%;
}

input{
    margin: 5px;
}

.btn{
    color: white;
    background-color: rgb(15, 160, 58);
    padding: 1px 15px;
    border-radius: 10px;
}

.btn:hover{
    background-color: rgb(8, 78, 40);
}

body{
    background-color: rgb(31, 29, 29);
    color: rgb(252, 249, 249);
    
}